@model Refugiados1.Models.AtenderDadiva

@{
    ViewData["Title"] = "Details";
}

<header>
    <div>
        <h1>Detalhes</h1>
    </div>
</header>

<section>

<div>
    <h4>Dádiva a ser atendida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seu_Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seu_Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class = "col-sm-2">
            Dádiva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolicitarDadiva.Dádiva)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAtender">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>

</section>
