@model Refugiados1.Models.Avaliacao

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <div>
        <h1>Detalhes</h1>
    </div>
</header>
<div class="section">
    <h4>Avaliação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avaliacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avaliacoes)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.IdAvaliacao">Editar</a> |
        <a asp-action="Index">Voltar para os comentários</a>
    </div>
</div>

